{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<style>
  .button {
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #f44336;
  color: white;
  border: 2px solid red;
  font-family: first, italic;
}

.button1:hover {
  background-color: red;
  color: white;
}
</style>
<div class="container mt-5" style="padding:8rem; margin-bottom:5rem">
  <h2 class="text-center"><strong>Ваши заказы</strong></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5" style="height: auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Продукты</th>
                <th scope="col">Статус</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="#" style="color:black">{{ order.orderId }}</a></td>
                <td>
                  {% for item in order.order_items.all %} {{ item }}
                  <br/>
                  {% endfor %}
                </td>
                <td>
                  <span class="badge badge-primary" style="background-color:red">Успешно</span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12 my-5 text-center">
      <a href="/" class="button button1">На главную</a>
    </div>
  </div>
</div>

{% endblock %}