{% load static %}
{% load cart_tag %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Horns & Hooves</title>
</head>
<style>
.underline-one {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 2px; /* Высота линии */
    background-color: red; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}
body{
    min-height: 100%;
    display: grid;
    background-color: #FFFAFA;
}


.header {
  padding: 10px 16px;
  background-color: #1C1C1C;
}

.content {
  padding: px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 76px;
}











</style>


<body>

<header class="header sticky sticky--top " style="z-index: 9999;  width:100%;">
    <nav class="navbar navbar-expand-lg" style="margin-top:1rem">
        <div class="container-fluid ">
            <button class="navbar-toggler" style="background-color:white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-center">
                    <li class="navigation__item">
                        <a href="{% url 'mainapp:home' %}"
                           class="navigation__link navigation__link--is-active text-center">
                            <span style="color:white;font-weight:bold;">Рога</span>
                            <span style="color:white;font-weight:bold;">&</span>
                            <span style="color:red;font-weight:bold;">Копыта</span>
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'mainapp:home' %}"
                           class="navigation__link underline-one text-center">Главная</a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'mainapp:about' %}" class="navigation__link underline-one text-center">О
                            Магазине</a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'mainapp:about_delivery' %}" class="navigation__link underline-one text-center">Доставка
                            и
                            Оплата</a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'mainapp:contacts' %}" class="navigation__link underline-one text-center">Контакты</a>
                    </li>
                    <li class="navigation__item">
                        <a href="{% url 'mainapp:list_product'%}" class="navigation__link underline-one text-center">Каталог</a>
                    </li>

                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navigation__link text-center" href="{% url 'account:registration' %}">Вход</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="navigation__item ">
                        <a class="navigation__link text-center" href="{% url 'mainapp:cart-home' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-bag-heart me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2
                                  2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14
                                   14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                            </svg>
                            <span class="badge badge-light">{{ request.user| cart_total }}</span>
                            Корзина
                        </a>
                    </li>
                    <li class="nav-item dropdown navigation__item">
                        <a class="nav-link dropdown-toggle navigation__link" href="#" id="navbarDarkDropdownMenuLink"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468
                                  11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li class="navigation__item">
                                <a class=" dropdown-item navigation__link" href="{%  url 'account:logout' %}">Выйти</a>
                            </li>
                            <li>
                                <a class="dropdown-item navigation__link " href="{% url 'checkout:order' %}">Заказы</a>
                            </li>
                            {% if user.is_superuser %}
                            <li class="navigation__item">
                                <a class="navigation__link" href="{% url 'mainapp:redac' %}">Редактор</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% else %}
                    {% endif %}
                    <li class="navigation__item">
                        <a class="navigation__link">
                            <form class="d-flex" action="{% url 'mainapp:search' %}">
                                <input class="form-control me-2" type="search" placeholder="Поиск..."
                                       aria-label="Search"
                                       name="q">
                                <button class="btn btn-outline-warning" type="submit">Поиск</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="content">
    {% block content %}


    {% endblock %}
</div>


<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="{% url 'mainapp:home' %}" class="nav-link px-2 text-light underline-one">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainapp:about' %}" class="nav-link px-2 text-light underline-one">О Магазине</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainapp:about_delivery' %}" class="nav-link px-2 text-light underline-one">Доставка
                        и Оплата</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mainapp:contacts' %}" class="nav-link px-2 text-light underline-one"> Контакты</a>
                </li>
            </ul>

            <p class="text-center  text-light">© 2023-2058 Мясной центр Рога & Копыта</p>
        </footer>
    </div>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>
</body>
</html>