{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section style="padding:6rem">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Регистрация</h2>
              <hr>
              <form action="{% url 'account:registration' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center">
                  <input type="submit"
                    class="btn btn-warning btn-block btn-lg  text-body" value="Зарегистрироваться">
                </div>
                <p class="text-center text-muted mt-5 mb-0">У вас уже есть аккаунт? <a href="{% url 'account:login' %}"
                    class="fw-bold text-body"><u>Войти</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}